* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15%;
    width: 55%;
}

#title {
    align-self: center;
}

#button-container {
    display: flex;
    justify-content: space-between;
}

#etch-container {
    height: 70%;
    width: 50%;
    display: flex;
    border: solid black 0.5px;
}

.column {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.square {
    flex: auto;
    border: solid black 0.5px;
}

#footer {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}